body {
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 90%;
    margin: 0 auto;
}

.logo {
    width: 200px;
}

.portuguese-btn {
    width: 40px;
    height: 30px;
    position: absolute;
    right: 50px;
    top: 50px;
}

.english-btn {
    width: 40px;
    height: 30px;
    position: absolute;
    right: 100px;
    top: 50px;
}

.intro {
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.intro__content {
    flex: 36%;
    padding-right: 50px;
    text-align: center;
}

.title {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
}

.description {
    line-height: 1.5;
}

.link {
	background: linear-gradient(to bottom, #de2121 5%, #ba1841 100%);
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	font-size: 20px;
	padding: 13px 32px;
	text-decoration: none;
    margin: 30px;
    transition: box-shadow, opacity .2s ease-in-out;
}

.link:hover {    
    opacity: .9;
    box-shadow: 0px 10px 14px -7px #e2c2c2;
}

.img {
    flex: 50%;
    transform: translateY(-18%)
}

footer {
    text-align: center;
}

@media (max-width: 1024px) {
    .logo {
        width: 40%;
    }
    .intro {
        margin-top: 10px;
        flex-direction: column;
    }

    .intro__content {
        padding-right: 0;
    }

    .img {
        transform: translateY(0)
    }
}